<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular bootstrap app</title>

  <!-- Load vendor stylesheets -->
  <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/bower_components/fontawesome/css/font-awesome.min.css">

  <!-- Load app stylesheets -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Load vendor scripts -->
  <script src="vendor/node_modules/core-js/client/shim.min.js"></script>
  <script src="vendor/node_modules/zone.js/dist/zone.min.js"></script>
  <script src="vendor/node_modules/reflect-metadata/Reflect.js"></script>
  <script src="vendor/node_modules/rxjs/bundles/Rx.min.js"></script>
  <script src="vendor/node_modules/@angular/core/bundles/core.umd.min.js"></script>
  <script src="vendor/node_modules/@angular/common/bundles/common.umd.min.js"></script>
  <script src="vendor/node_modules/@angular/compiler/bundles/compiler.umd.min.js"></script>
  <script src="vendor/node_modules/@angular/platform-browser/bundles/platform-browser.umd.min.js"></script>
  <script src="vendor/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.min.js"></script>
  <script src="vendor/node_modules/@angular/http/bundles/http.umd.min.js"></script>

  <!-- Load app scripts -->
  <script src="app/foo/foo.service.js"></script>
  <script src="app/foo/foo.component.js"></script>
  <script src="app/app.component.js"></script>
  <script src="app/app.module.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <my-app>Loading...</my-app>
</body>
</html>
